body {
    background-color: rgb(134, 214, 252);
  }
    
    
i{
  font-weight: bold;
}
   p {
    text-align: center;

   }
  
  img {
    position: static;
    width: 2in;
  color: rgb(143, 64, 0);
  }
    
    
   